.images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.glasses {
  position: relative;
  bottom: 350px;
  width: 230px;
  right: 15px;
}

.dice {
  width: 20%;
  margin-top: 4px;
}
